stepfunc/dynamic_map_statemachine.json
{
  "StartAt": "ScatterLambda",
  "States": {
    "ScatterLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:241370969830:function:scatterlambda",
      "Next": "ProcessAllSegments"
    },
    "ProcessAllSegments": {
      "Type": "Map",
      "InputPath": "$.task_definitions",
      "ItemsPath": "$",
      "MaxConcurrency": 100,
      "Iterator": {
        "StartAt": "TaskLambda",
        "States": {
          "TaskLambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:ap-northeast-1:241370969830:function:tasklambda",
            "End": true
          }
        }
      },
      "ResultPath": "$.task_results",
      "Next": "GatherLambda"
    },
    "GatherLambda": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "arn:aws:lambda:ap-northeast-1:241370969830:function:gatherlambda",
      "End": true
    }
  }
}
